<div class="d-flex justify-content-center row mr-ml-0 m-4 trip">
  <div class="col-md-7">
    <div class="card border-0 trip-card">
      <div class="d-flex flex-column">
        <ul class="d-flex flex-row mr-ml-0 justify-content trip-list p-0 m-0">
          <li
            *ngFor="let trip of tripList; let i = index"
            (click)="selectTrip(i)"
            [class.active-trip]="i === selectedTrip"
            class="d-flex flex-column p-4 trip-item"
            #trip
            [ngStyle]="{ width: tripWidth + '%' }"
          >
            <span class="d-flex itinerary bold-text"
              >{{ trip[0][0].sourceCity }}-{{
                trip[0][trip[0].length - 1].destinationCity
              }}</span
            >
            <span class="d-flex justify-content-center">{{ tripDate[i] }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-flights
  class="col-6"
  [flightInfoList]="tripList[selectedTrip]"
  [selectedFlightIndex]="selectedTrip"
></app-flights>
