<div class="d-flex justify-content-center mt-2 text-dark">
  <h1>Welcome to Airline System</h1>
</div>
<div class="operation-card container text-dark border rounded">
  <h2 class="upside-float">Functions</h2>
  <ul class="d-flex justify-content-between mt-5 me-5">
    <li
      href="./flight-operator.html"
      class="d-flex flex-column align-items-center justify-content-center"
      routerLink="../flight-operator"
    >
      <img src="../../../assets/images/Home/operator.png" />
      <span class="text-dark"><h5>Flight Operator</h5></span>
    </li>
    <li
      href="./airport.html"
      class="d-flex flex-column align-items-center justify-content-center"
      routerLink="../airport"
    >
      <img src="../../../assets/images/Home/airport.png" />
      <span class="text-dark"><h5>Airport</h5></span>
    </li>
    <li
      href="./flight.html"
      class="d-flex flex-column align-items-center justify-content-center"
      routerLink="../flights"
    >
      <img src="../../../assets/images/Home/airplane.png" />
      <span class="text-dark"><h5>Flight</h5></span>
    </li>
  </ul>
</div>
