div {
  height: fit-content;
}

.reverse-icon {
  box-shadow: #0000001a 0 0 10px;
  border-radius: 0.8rem;
  background-color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: -1.9rem;
  top: 1rem;
  z-index: 1;
}

.reverse-icon img {
  margin: 0.3rem;
  width: 70%;
}

.is-invalid.input-border {
  border: 2px solid #f00;
}

.top-80 {
  top: 80% !important;
}
