.title {
  color: #fff;
  line-height: 2.8rem;
  font-weight: 700;
  font-size: 2.2rem;
  margin: 2rem 0;
}

.widget {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 5rem 0rem;
  box-shadow: #00000026 0px 0px 15px;
}

.upside-float {
  font-size: 0.8rem;
  display: inline-flex;
  font-weight: 700;
  color: #777777;
  position: relative;
  padding: 0px 4px;
  left: 1.5rem;
  top: -1.2rem;
  background-color: #fff;
  max-width: fit-content;
  height: fit-content;
}

:focus-visible {
  outline: none;
}

.input-border {
  border: 1px solid #dee2e6;
}
.input-border:focus-within {
  border: 1px solid black;
}
.input-border:focus {
  border: 1px solid black;
}

.passenger-count {
  margin-top: -5px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #dee2e6;
  outline: 0;
  box-shadow: none;
}

.remove-city-button {
  width: fit-content;
}

.mb-08 {
  margin-bottom: 0.875rem;
}
